# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# IDEA
# ----
.idea
.idea/
.shelf
/*.iml
/*.ipr
/*.iws
/out

/out/*.*

# Logs
# ----
/*.log

# Others
# ----
**/*.class
**/*.bin
**/*.build
**/*.out
build
build/
**/*.jar

# Maven specific

target/

#Skip all SVN related
.svn/
.svn/entries
.svn*
*/.svn/*

#Skip all CVS related
CVS/
/CVS/*
**/CVS/*
.cvsignore
*/.cvsignore